/* background #e4e0da */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
	/* background-color: #e4e0da; */
	height: 100vh;
}

.backgroundContainer {
	width: 100%;
	height: 100vh;
	background-image: url("images/bg.webp");
	background-size: cover;
	position: fixed;
	z-index: -1;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;

	.links {
		width: 30%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		border-radius: 50px;
		background-color: rgba(255, 255, 255, 0.897);

		a {
			all: unset;
			cursor: pointer;
		}

		a:hover {
			all: unset;
			cursor: pointer;
			background-color: rgba(206, 204, 204, 0.897);
		}
	}
}

.mainSection {
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.verseContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 280px;
	background-color: rgba(255, 255, 255, 0.897);
	border-radius: 15px;
	padding: 30px;
	width: 80%;
	max-width: 925px;
	box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.788);
}

.title {
	position: relative;
	top: 0px;
	font-size: 1em;
}

#verseOftheDay,
#randomVerse {
	margin: 0px;
	font-size: 2.1em;
	text-align: center;
}

#citation,
#randomCitation {
	width: 100%;
	text-align: end;
	font-size: 1em;
}

.bibleSearch {
	width: 80%;
	max-width: 925px;
	height: 800px;
	background-color: rgba(255, 255, 255, 0.897);
	border-radius: 15px;
	padding: 30px;
	box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.788);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	margin-bottom: 30px;
}

.header h3 {
	margin: 0px;
}

.searchInput {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border: 1px solid rgb(71, 71, 71);
	padding: 10px;
	border-radius: 15px;
}

.dropdown {
	all: unset;
}

#book {
	width: 115px;
}

#chapter,
#verse,
#endingVerse {
	width: auto;
}

.searchButton {
	width: 90px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid rgb(71, 71, 71);
}

.bibleSearchOptions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.resultSection {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin-top: 20px;
}

#searchResult {
	white-space: pre-line;
	font-size: 17px;
}
